h2{
    font-family: "Tinos", serif;
    font-weight: 700;
    font-style: bold;
    color: darkblue;
}

h2{
    color: darkblue;
}
h2 {
    text-align: center;
  }

ul {
    padding: 10px;
}

li {
    display: inline;
    padding: 0px 10px 0px 10px;
}

  header {
    Text-align: center;
    background-color: blue;
    background-size: 20px;
    padding: 20px 0px 0px 0px;
    color
  }

h1 {
  color; width:
  font-size: 50px;
}
